{% extends 'base_visitor.html.twig' %}

{% block title %}MarmitRonde{% endblock %}

{% block main %}

<div class="card text-bg-dark mt-3 mb-3">
  <img
    src="https://imgs.search.brave.com/E_B7GLHAdGYI9yKs-QlpF5w3IM3LkLdwbExT-545sew/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA5LzcxLzk1Lzg4/LzM2MF9GXzk3MTk1/ODgxM19SMEVtUW5N/MTBYVGJDdTVwejB4/aU5OSTdxUmduVG1s/OS5qcGc"
    class="card-img opacity-25" alt="...">
  <div class="card-img-overlay">
    <h2 class="card-title">Welcome to EatBlob — The Deep Sea Meets Delicious</h2>
    <p class="card-text">

      Dive into the unexpected. At EatBlob, we're serving up culinary creativity with a twist — blobfish at the heart of
      every dish. This isn't your typical seafood site. We're exploring the untapped flavors of the deep with recipes
      that celebrate the blobfish in all its gelatinous glory.

      From savory stews to daring desserts (yes, really), we're here to prove that what lurks below can taste downright
      amazing. Whether you're an adventurous eater, a deep-sea foodie, or just curious — there's a blob on your plate
      with your name on it.

      Bon appéblob!</p>
    <p class="card-text"><small>Le gérant</small></p>
  </div>
</div>

{% endblock %}